/* Font URL */
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@300&display=swap");

.content {
  margin-top: 100px !important;
  padding: 0 3%;
}

/* homepage Images */
.main-images {
  position: relative;
  text-align: center;
}
.some-text {
  position: absolute;
  top: 50%;
  left: 4%;
  color: azure;
  font-size: 1.9rem !important;
}

.Shirts-img {
  position: relative;
}
.shirts-text {
  position: absolute;
  top: 50%;
  left: 10%;
  color: azure;
}
.bg-light {
  background-color: #f2f2f2 !important;
}
.category-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}

.category-card {
  background-color: #f2f2f2;
  width: 28.5rem !important;
}

/*shop Now btn effect */
.shopNow {
  color: #18272f;
  position: relative;
  text-decoration: none;
}

.shopNow::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 2px;
  border-radius: 2px;
  background-color: #18272f;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.shopNow:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* all products */
.allproducts-div {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(21.5rem, 1fr));
  gap: 0.9rem;
}

.product-card {
  max-height: 28rem;
  max-width: 23.5rem !important;
}

/* products-images */
@media (max-width: 1400px) {
  .products-images {
    width: 200px;
  }
}

@media (max-width: 1000px) {
  .products-images {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .products-images {
    width: 200px;
  }
}

/* cart */
.cart-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
}

/* category-images */
@media (max-width: 1100px) {
  .category-images {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .category-images {
    width: 200px;
  }
}

/* font   */
.title {
  font-family: "Goldman";
  letter-spacing: 0.04rem;
}
.description {
  font-family: "Lexend Tera", sans-serif !important;
}

/*product details images carousel */
@media (max-width: 1200px) {
  .products-details-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .carousel-images {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .products-details-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .carousel-images {
    width: 500px;
  }
}
@media (max-width: 800px) {
  .products-details-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .carousel-images {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .products-details-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .carousel-images {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .carousel-images {
    width: 400px;
  }
}

/*size redio btn  */
.option-input {
  appearance: none;
  height: 20px;
  width: 20px;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #00c851;
}
.option-input:checked::before {
  width: 20px;
  height: 20px;
  display: flex;
  content: "\2713";
  position: absolute;
  align-items: center;
  justify-content: center;
}

.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
